.cats-slider-container--modal-mode {
  --slider-equal-side: min(80vw, 80vh);
  position: absolute;
  z-index: 1;
  top: calc(50% - var(--slider-equal-side) / 2);
  left: calc(50% - var(--slider-equal-side) / 2);
  width: var(--slider-equal-side);
  height: var(--slider-equal-side);
}

.swiper-root {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: theme('colors.blue-color');
  text-shadow: 0 0 4px #000000;
  transition: scale 100ms, color 300ms, text-shadow 300ms;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: theme('colors.input-color');
  text-shadow: 0 0 4px theme('colors.blue-color');
}

.swiper-button-next:active,
.swiper-button-prev:active {
  scale: 0.8;
}

.swiper-pagination-bullet {
  background-color: theme('colors.blue-color');
  opacity: 0.75;
  transition: scale 100ms;
}

.swiper-pagination-bullet:active {
  scale: 2;
}

.swiper-pagination-bullet-active {
  background-color: theme('colors.input-color');
}
