/*.catalog-swiper-slider-wrapper {*/
/*  align-items: stretch !important;*/
/*}*/

.catalog-card-title {
  margin-top: 0.5em;
}

.catalog-card-description {
  margin: 0.5em 0;
}

.catalog-card {
  /*transition: opacity 0.5s ease-in-out;*/
  min-height: 544px;
  padding: 1rem 0;
}

.catalog-card.catalog-card-soft-displayed {
  animation: soft-display ease-in-out 0.5s forwards;
}

.catalog-card.catalog-card-soft-hidden {
  animation: soft-hide ease-in-out 0.5s forwards;
}

.catalog-card.catalog-card-soft-displayed-fast {
  animation: soft-display ease-in-out 0.2s forwards;
}

.catalog-card.catalog-card-soft-hidden-fast {
  animation: soft-hide ease-in-out 0.2s forwards;
}

@keyframes soft-display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes soft-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.catalog-card-img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.catalog > .catalog-swiper-slider {
  z-index: 0;
  border: 1px solid red;
  padding: 64px;
  margin: -64px;
}

/*.catalog-swiper-slider-wrapper div:nth-child(4) {*/
/*  margin-right: 128px !important;*/
/*}*/

.catalog-swiper-slider-wrapper > .swiper-slide {
  height: unset !important;
}

.catalog-swiper-slider-pagination {
  padding-left: 64px;
  padding-right: 64px;
}

.catalog-swiper-slider-pagination > .swiper-pagination-bullet {
  display: inline-flex;
  color: theme('colors.white-text');
  font-weight: 700;
  text-align: center;
  background-color: theme('colors.blue-color');
  opacity: 0.75;
  transition: scale 100ms;
  border-radius: 100%;
  width: 2em;
  height: 2em;
}

.swiper-pagination-bullet > span {
  margin: auto;
}

.catalog-swiper-slider-pagination > .swiper-pagination-bullet:hover {
  color: #000000;
  background-color: theme('colors.input-color');
  scale: 1.2;
}

.catalog-swiper-slider-pagination > .swiper-pagination-bullet:active {
  color: #000000;
  background-color: theme('colors.input-color');
  scale: 1.4;
}

.catalog-swiper-slider-pagination > .swiper-pagination-bullet-active {
  color: #000000;
  background-color: theme('colors.input-color');
}
