@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MonospaceRegular';
  src: url('./assets/fonts/Monospace-Regular.ttf');
}

@font-face {
  font-family: 'Rubik Wet Paint', cursive;
  src: url('./assets/fonts/Beginner.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Arial', sans-serif;
  src: url('./assets/fonts/Arial-Regular.ttf');
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./assets/fonts/Inter-Regular.ttf');
}

body {
  font-family: 'Roboto', 'Arial', 'Inter', sans-serif;
}
