@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MonospaceRegular';
  src: url('./assets/fonts/Monospace-Regular.ttf');
}

@font-face {
  font-family: 'Rubik Wet Paint', cursive;
  src: url('./assets/fonts/Beginner.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Arial', sans-serif;
  src: url('./assets/fonts/Arial-Regular.ttf');
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./assets/fonts/Inter-Regular.ttf');
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: 'Roboto', 'Arial', 'Inter', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form,
.form-reg,
.error {
  transform: translate(-50%, -50%);
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.7);
}

.form-reg::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #706f6f;
  border-radius: 5em;
}

.form-reg::-webkit-scrollbar-thumb {
  background-color: #8EB2C6;
  border-radius: 9em;
  height: 20px;
}

.burger-menu {
  transition: 0.3s linear;
}

.burger-line {
  transition: opacity .2s ease-out;
}

.burger-menu-active {
  transform: rotate(90deg);
}

.header-nav {
  transform: translateX(100%)
}

.header-nav-active {
  transform: translateX(0);
}
.screen-fade {
  content: '';
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 74, 84, 0.5);
  width: 100%;
  height: 100%;
}

.field {
  flex: 1 1 calc(50% - 86px);
}

.overlay {
  transition: 0.2s;
  z-index:
}

.popup {
    transform: scale(0);
    transition: transform 0.2s;
}

.overlay.open {
  visibility: visible;
  opacity: 1;
}

.overlay.open .popup {
  transform: scale(1);
}

.grid {
	display: grid;
	grid-template-columns: 240px 1fr;
}